<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sw.springcloud.dao.DeptDao">
    <insert id="addDept" parameterType="edu.sw.springcloud.entity.Dept">
        insert into dept(dept_no,dept_name,db_source)values (#{dname},DATABASE());
    </insert>
    <select id="findById" parameterType="Long" resultType="edu.sw.springcloud.entity.Dept">
        select dept_no,dept_name,db_source from dept where dept_no=#{deptNo};
    </select>
    <select id="findAll" resultType="edu.sw.springcloud.entity.Dept">
		select dept_no,dept_name,db_source from dept;
	</select>

</mapper>
